<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Study</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'studies/styles.css' %}">
    
</head>
<body>
    <h1>Add Study</h1>
    <form method="post">
        {% csrf_token %}
        <label for="study_name">Study Name:</label>
        <input type="text" name="study_name" required><br><br>

        <label for="study_description">Study Description:</label>
        <textarea name="study_description" required></textarea><br><br>

        <label for="study_phase">Study Phase:</label>
        <select name="study_phase" required>
            <option value="Phase I">Phase I</option>
            <option value="Phase II">Phase II</option>
            <option value="Phase III">Phase III</option>
            <option value="Phase IV">Phase IV</option>
        </select><br><br>

        <label for="sponsor_name">Sponsor Name:</label>
        <input type="text" name="sponsor_name" required><br><br>

        <button type="submit">Save</button>
        <a href="{% url 'index' %}">Cancel</a>
    </form>
</body>
</html>
