<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Study</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'studies/styles.css' %}">
</head>
<body>
<div class="container">
    <h1>Edit Study</h1>
    <form method="post">
        {% csrf_token %}
        <label for="study_name">Study Name:</label>
        <input type="text" name="study_name" value="{{ study.study_name }}" required><br><br>

        <label for="study_description">Study Description:</label>
        <textarea name="study_description" required>{{ study.study_description }}</textarea><br><br>

        <label for="study_phase">Study Phase:</label>
        <select name="study_phase" required>
            <option value="Phase I" {% if study.study_phase == 'Phase I' %}selected{% endif %}>Phase I</option>
            <option value="Phase II" {% if study.study_phase == 'Phase II' %}selected{% endif %}>Phase II</option>
            <option value="Phase III" {% if study.study_phase == 'Phase III' %}selected{% endif %}>Phase III</option>
            <option value="Phase IV" {% if study.study_phase == 'Phase IV' %}selected{% endif %}>Phase IV</option>
        </select><br><br>

        <label for="sponsor_name">Sponsor Name:</label>
        <input type="text" name="sponsor_name" value="{{ study.sponsor_name }}" required><br><br>

        <button type="submit">Update</button>
        <a href="{% url 'index' %}">Back to Main View</a> <!-- Link to go back to the main page -->
    </form>
</div>
</body>
</html>
